body {
  background: #76326b;
  }
  * {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  }
  .app {
  height: auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #000000;
  }
  
  .card{
    width: 400px;
    height: 460px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    position: relative
  }

  .todo-list {
  margin-top: 16px;
  height: 48px;
  width: 384px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  }

  li {
  list-style: none;
  overflow-wrap: anywhere;
  height: auto;
  width: 176px;
  }

  button {
    width: auto;
    height: auto;
    border: none;
    padding: 10px;
    background-color: #590C69;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .task-input{
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding: 10px 10px;
    border: 2px solid #eee;
    border-radius: 3px;
    transition: all 1s;
  }
  .content span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff}